src-tauri/target/
src-tauri/binaries/diligent-web-server*
src-tauri/binaries/init*
src-tauri/resources/dist/
src-tauri/resources/defaults/
src-tauri/.rust-build-hash
src-tauri/.diligent-packaging/
src-tauri/.diligent-packaging-icons/
